<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="idolSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="SearchResultSummaryFragmentSize" value="300" />
    <add key="SearchResultSummaryNumberOfFragments" value="3" />
    <add key="HighlightPreTag" value="&lt;em&gt;" />
    <add key="HighlightPostTag" value="&lt;/em&gt;" />
    <add key="MinScore" value="0" />
    <add key="DecaysFilePath" value="Integration\decays.xml" />
  </appSettings>
  <idolSettings>
    <add key="XpertHR_InfoTypesForGenericSearch" value="2,3,5,6,7,8,11,12,13,14,15,18,19,20,22,24,25,26,27,28,29,30,35,37,41,42" />
    <add key="XpertHR_SearchService" value="http://10.55.109.95:9020" />
    <add key="XpertHR_MinScoresForSearchBooleanOperators" value="35,5,5,0" />
  </idolSettings>
</configuration>